/target/
/crates/*/target/
**/*.rs.bk
*.swp
*.iml
.idea/
.vscode/
!editors/code/.vscode/ # Keep extension specific settings if any
node_modules/
out/
*.tsbuildinfo
*.vsix
editors/code/pf_lsp
editors/code/pf_lsp.exe
.DS_Store
